apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  namespace: {{ .Values.global.namespace }}
  labels:
    app.kubernetes.io/managed-by: "Helm"
  annotations:
    kubernetes.io/ingress.class: nginx
    meta.helm.sh/release-name: "berlin-release-{{ .Values.global.namespace }}"
    meta.helm.sh/release-namespace: "{{ .Values.global.namespace }}"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/additional-response-headers: "Content-Type: application/javascript"
spec:
  ingressClassName: "nginx"
  rules:
  - http:
      paths:
      - path: /?(.*)
        pathType: Prefix
        backend:
          service:
            name: berlin-ionic
            port:
              number: 80
      # - path: /api/?(.*)
      #   pathType: ImplementationSpecific
      #   backend:
      #     service:
      #       name: berlin-api
      #       port:
      #         number: 80